{% load i18n %}

<div class="card-columns">
    {% for i in items %}
        <div class="card" style="max-width: 300px">
            <a href="{% url 'item-detail' i.id %}" class="text-dark" style="text-decoration: none">
                <img class="card-img-top" src="{{ i.photos.first.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title ">{{ i.title }}</h5>
                </div>
            </a>
            <div class="card-footer d-flex justify-content-between">
            {% if i.status != 2 %}
                <span><a href="{% url 'add_to_wishlist' i.id %}"><i class="material-icons"
                                                                    style="font-size: 25px; color: #FE3C01; margin-right: -40px;">start</i></a></span>
                {% if i.sale_price %}
                    <span class="font-weight-bold text-muted"><s>€ {{ i.price }}</s></span>
                    <span class="font-weight-bold text-danger">€ {{ i.sale_price }}</span>
                {% else %}
                    <span class="font-weight-bold text-danger">€ {{ i.price }}</span>
                {% endif %}

                <span><a href="{% url 'add_to_cart' i.id %}"><i class="material-icons"
                                                                style="font-size: 25px; color: #FE3C01;">add_shopping_cart</i></a></span>
            {% else %}
                <span class="font-weight-bold text-muted">{% trans 'Sold' %}</span>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
