{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="row mb-5">
        <div class="col-lg-6 item-photo">
            <img class="img-thumbnail" style="max-width:100%;" src="{{ item.photos.first.image.url }}"/>
        </div>

        <div class="col-lg-5">
            <h3>{{ item.title_en }}</h3>
            <h5 class="mt-4">SKU #<span class="text-dark"> {{ item.sku }}</span></h5>
            <h4 class="mt-4">PRICE <span class="text-danger"> € {{ item.price }}</span></h4>

            <div class="section p-2">
                <a class="btn btn-outline-danger m-2" href="{% url 'add_to_cart' item.id %}"><i class="material-icons"
                                                                                                style="font-size: 20px; color: #FE3C01">add_shopping_cart</i>
                    Add to Cart</a>
                <a class="btn btn-outline-danger" href="{% url 'add_to_wishlist' item.id %}"><i class="material-icons"
                                                                                                style="font-size: 20px; margin-right: -20px; color: #FE3C01">start</i>
                    Add to Wish List</a>
            </div>
        </div>
    </div>

{#    description block   #}
    <div class="row">
        <div class="col-xs-12">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    {{ item.description_en }}
                </p>
            </div>
        </div>
    </div>

    {#  Item like this block   #}
    {% if items %}
    <h4 class="text-secondary">Similar items</h4>

<div class="row">
    {% include 'product/card_items.html' %}
</div>
    {% endif %}

    {#  Comments block   #}
<div class="row">

    <h4>Comments</h4>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>Ryan Haywood</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>12
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>Ryan Haywood</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>12
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
