{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block meta %}
    <meta property="og:title" content="{{ item.title }}">
    <meta property="og:image" content="http://127.0.0.1:8000{{ item.photos.first.image.url }}">
    <meta property="og:url" content="{{ request.get_full_path }}">
{% endblock %}

<style>
a.demo { float:left; }
a img { border:none; }
img.demo { float:right; }
.demo {
     position:relative;
     }
.loupe {
     background-color: #444;
     background:rgba(0, 0, 0, 0.25);
     border:5px solid rgba(0, 0, 0, 0);
     }
</style>

{% block content %}
    <div class="row mb-2 col-sm-12 col-md-12 m-0 p-0">
        <div class="col-lg-6 col-sm-12 col-md-6 item-photo">
            <a href="{{ item.photos.first.image.url }}?image=250" data-toggle="lightbox" data-title="{{ item.title }}">
            <img class="shadow p-3 mb-3 bg-white rounded demo" style="max-width:100%; cursor: -webkit-zoom-in;" src="{{ item.photos.first.image.url }}"/></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>{{ item.title }}</h3>
            <h5 class="mt-4">ART # <span class="text-dark"> {{ item.sku }}</span></h5>
            <h5><span class="mt-4"> {% trans "PRICE" %}
                {% if item.sale_price %}<s class="text-muted"> {{ item.price }}</s>
                <span class="text-danger"> {{ item.sale_price }}</span>
                {% else %}
                    <span class="text-danger"> {{ item.price }}</span>
                    </span></h5>
                {% endif %}

        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style pt-2">
{#            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>#}
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_google_plus"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->

                     {% if item.size %}<h5 class="mt-4">{% trans "SIZE" %} <span class="text-dark"> {{ item.size }}</span></h5> {% endif %}
            <div class="row col-md-8 col-sm-12 pt-3 p-0 m-0 d-flex justify-content-between">
                <div class="col-md-5 col-sm-12 p-0 pb-2">
                    <a class="btn btn-outline-light col-sm-12 pr-1" style="color: #6699FF; border-color: #6699FF;" href="{% url 'add_to_cart' item.id %}"><i class="material-icons"
                                                                                                style="font-size: 22px; color: #6699FF; position:relative; top: 5px;">add_shopping_cart</i>
                    {% trans "Add to Cart" %}</a>
                </div>
                <div class="col-md-6 col-sm-12 p-0">
                    <a class="btn btn-outline-light col-sm-12" style="color: #6699FF; border-color: #6699FF;" href="{% url 'add_to_wishlist' item.id %}"><i class="material-icons"
                                                                                                                                               style="font-size: 18px; margin-right: -20px; color: #6699FF; position:relative; top: 2px;">start</i>
                    {% trans "Add to Wish List" %}</a>
                </div>
            </div>
        </div>
    </div>

{#   small image preview block   #}
    <div class="row mb-3 col-sm-12 m-0 p-0">
        <div class="col-md-8">
                {% for i in item.photos.all %}
                <a href="{{ i.image.url }}" data-toggle="lightbox" data-gallery="example-gallery">
                    <img src="{{ i.image.url }}" class="img-thumbnail" style="max-width: 100px;">
                </a>
                {% endfor %}
        </div>
    </div>


{#    description block   #}
    <div class="row col-sm-12 m-0 p-0">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    {{ item.description }}
                </p>
            </div>
    </div>

{#      Item like this block    #}

    {% if items %}
        <div class="container col-sm-12 m-0 p-0">
            <h4 class="text-secondary">{% trans "Similar items" %}</h4>

            <div class="row col mx-auto d-flex justify-content-center">
                {% include 'product/card_items.html' %}
            </div>
        </div>
    {% endif %}

{% endblock %}
