{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="container h-100 mt-4">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="card fat">
                    <div class="card-body">

                    <!-- Check in for authenticated! -->
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                    <!-- Field with form.errors -->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    <!-- END Field with form.errors -->
                        <div class="container text-center">
                            <p>Forgotten your password? <br /> Enter your e-mail address below, <br />and we'll send you an e-mail allowing <br />you to reset it.</p>
                        </div>

                    <!-- START FORM TO SEND EMAIL WITH VERIFICATION-->
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}

                        <!-- Form to reset password. Send link to email -->
                             <div class="form-group">
                                 <label for="id_email"><strong>E-mail:</strong></label>
                                 <input type="email" name="email" class="form-control" required="" id="id_email">
                             </div>
                            <input class="btn btn-outline-danger btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
                        </form>
                    <!-- END FORM SEND EMAIL WITH VERIFICATION -->

                        <div class="container mt-3 text-center">
                            <p>{% blocktrans %}Please contact us if you have <br />any trouble resetting your password.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
