{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="container h-100 mt-4">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="card fat">
                    <div class="card-body">

                    <!-- Field with form.errors -->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    <!-- END Field with form.errors -->

                        <h4 class="card-title text-center">
                            {% if token_fail %}{% trans "Bad Token" %}
                            {% else %}{% trans "Change Password" %}
                            {% endif %}
                        </h4>

                    <!-- IF TOKEN FAIL (text) -->
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly<br /> because it has already been used.  <br />Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    <!-- ENDIF TOKEN FAIL (text) -->

                    <!-- FORM TO CHANGE PASSWORD -->
                        {% else %}
                            {% if form %}
                                <form method="POST" action="{{ action_url }}">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="id_password1"><strong>New Password:</strong></label>
                                        <input type="password" name="password1" class="form-control" required="" id="id_password1">
                                    </div>

                                    <div class="form-group">
                                        <label for="id_password2"><strong>New Password (again):</strong></label>
                                        <input type="password" name="password2" class="form-control" required="" id="id_password2">
                                    </div>

                                    <input type="submit" class="btn btn-outline-danger btn-block" name="action" value="{% trans 'change password' %}"/>
                                </form>
                    <!-- END FORM TO CHANGE PASSWORD -->

                            {% else %}
                                <p><strong>{% trans 'Your password is now changed.' %}</strong></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
