{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/arrows_in_order.css' %}" />

<div class="row col">
    <div class="wrapper col">
        <div class="arrow-steps clearfix col-md-12 d-flex justify-content-around">
          <div class="step current col"> <span>{% trans "Ordering" %}</span> </div>
          <div class="step current col"> <span>{% trans "Delivery info" %}</span> </div>
          <div class="step current col"> <span>{% trans "Payment method" %}</span> </div>
        </div>
    </div>
</div>


<div class="container pt-3">
  <table id="cart" class="table table-condensed">
    <thead>
      <tr>
        <th style="width:50%">{% trans "Product Name" %}</th>
          <th style="width:10%" class="text-right">ART</th>
          <th style="width:10%" class="text-right">{% trans "Price" %}</th>
          <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
       {% for item in order.items.all %}
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-lg-2"><img src="{{ item.photos.first.image.url }}" width="100px" alt="..." class="img-responsive" /></div>
            <div class="col-lg-10">
                <a href="{% url 'item-detail' item.id %}"><h5 class="nomargin">{{ item.title }}</h5></a>
            </div>
          </div>
        </td>
        <td class="text-right">{{ item.sku }}</td>
        <td class="text-right" data-th="Price">{% if item.sale_price %} <s class="small">€ {{ item.price }}</s> {{ item.sale_price }} {% else %} {{ item.price }} {% endif %}</td>
      </tr>
          {% endfor %}
    </tbody>
  </table>

    <div class="row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
            <strong>{% trans "How would you like to pay?" %}</strong>
        </div>
        <div class="row col-md-6 d-flex justify-content-center">
            <div class="col-md-12 d-flex justify-content-center"><h6>{% trans "Pay with PayPal" %}</h6></div>
            <div class="col-md-12 d-flex justify-content-center">
              {{ paypal_form.render }}
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center pt-4">
            <a href="{% url 'pay_upon_receipt' %}" class="btn btn-outline-danger btn-block col-md-6 btn-md" style="height: 40px">{% trans "Pay upon receipt" %}</a>
        </div>
    </div>
</div>

{% endblock %}
