{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}


<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">{% trans "Product Name" %}</th>
          <th style="width:10%" class="text-right">{% trans "SKU" %}</th>
          <th style="width:10%" class="text-right">{% trans "Price" %}</th>
          <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
       {% for item in cart.item.all %}
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-lg-2"><img src="{{ item.photos.first.image.url }}" width="100px" alt="..." class="img-responsive" /></div>
            <div class="col-lg-10">
                <a href="{% url 'item-detail' item.id %}"><h5 class="nomargin">{{ item.title_en }}</h5></a>
            </div>
          </div>
        </td>
        <td class="text-right">{{ item.sku }}</td>
        <td class="text-right" data-th="Price">{% if item.sale_price %} <s class="small">€ {{ item.price }}</s>  € {{ item.sale_price }} {% else %}€ {{ item.price }} {% endif %}</td>
      </tr>
          {% endfor %}
    </tbody>
  </table>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
          <th>
            <form method="POST" class="form-group" id="order">{% csrf_token %}
              {{ form.as_p }}
            </form>
          </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td><a href="/cart/" class="btn btn-outline-secondary">{% trans "Back to Cart" %}</a></td>
        <td colspan="2" class="hidden-xs text-center"><strong>{% trans "Total price" %}: € {{ cart_total }}</strong></td>
        <td><button type="submit" form="order" class="btn btn-outline-danger btn-block">{% trans "Create Order" %}</button></td>
      </tr>
    </tfoot>
  </table>
</div>


{% endblock %}