{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

{% for item in cart.item.all %}
                <div class="container">
                    <div class="text-center">
                        <tr>
                            <td>{{ item.title_en }}</td>
                            <td>{{ item.description_en }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.status }}</td>
                            <button class="btn btn-outline-info" type="submit">Add<i class="fa fa-paper-plane-o ml-2"></i></button>
                        </tr>
                    </div>
                </div>
        {% endfor %}
{% endblock %}
