{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
       {% for item in cart.item.all %}
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img  class="card-img-top" src="{{ item.photos.first.image.url }}"  alt="Card image cap" class="img-responsive" /></div>
            <div class="col-sm-10">
              <a href="{% url 'item-detail' item.id %}"><h4 class="nomargin">{{ item.title_en }}</h4></a>
              <p>{{ item.sku }}</p>
            </div>
          </div>
        </td>
        <td data-th="Price">{{ item.price }}€</td>
        <td class="actions" data-th="">
          <a href="{% url 'remove_from_cart' item.id %}"><button class="btn btn-danger btn-sm"><i class="material-icons">delete</i></button>
        </td>
      </tr>
    </tbody>
      {% endfor %}
    <tfoot>

      <tr>
        <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
        <td class="hidden-xs text-center"><strong>Total price is $1.99</strong></td>
        <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>

{% endblock %}
