{% extends "base.html" %}
{% load i18n %}

{% block content %}
   <div class="container mt-3">
        <div class="row">
            <div class="col-4 bg-light text-dark">
                {% include 'collapse_category_dropdown.html' %}
            </div>
            <div class="col-8 bg-light text-dark">
                <div class="brand" style="font-size: 25px">
                    <i class="material-icons card-body"
                    style="font-size: 25px; color: #FE3C01; position: relative; top: 5px; left: 5px">label_important</i> {% trans "About us" %}
                </div>
            </div>
        </div>
    </div>
    <div class="conatiner mt-5">
        <!-- Template for each questions -->
        <div class="mt-5">
            <h5 class="text-left" style="color: #FE3C01;"><strong>{% trans "About" %} Kunst-WD" </strong></h5>
            <p class="text-justify mt-3">Kunst-WD is one of the largest fine art, craft and design supplies retailers in Germany. <br> <br> Whether you are an inspired artist, a dabbler in the arts and crafts, a bride-to-be searching for invitation ideas, an architect requiring technical drawing materials, or even a teacher in the art and design field, shop online or in-store with Market.<br><br>
            If you are looking for a unique gift or would like to treat yourself, you will be sure to find something in the treasure trove that is Market. <br><br>
                Market shop are proud supporters of local crafts, authors, musicians and artists. Beautiful handcrafted presents are a perfect gift for that special occasion.</p>
        </div>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/1081858/pexels-photo-1081858.jpeg?cs=srgb&dl=acrylic-paint-art-artistic-1081858.jpg&fm=jpg" alt="Card image cap">
          </div>
          <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/22823/pexels-photo.jpg?cs=srgb&dl=ceramics-clay-handmade-22823.jpg&fm=jpg" alt="Card image cap">
          </div>
          <div class="card">
            <img class="card-img-top" src="https://images.pexels.com/photos/558377/pexels-photo-558377.jpeg?cs=srgb&dl=abstract-art-artistic-558377.jpg&fm=jpg" alt="Card image cap">
          </div>
        </div>
    </div>
{% endblock %}
