{% load i18n %}

<div class="brand" style="font-size: 25px">
    <i class="material-icons card-body"
       style="font-size: 30px; color: #6699FF; position: relative; top: 5px; left: 5px">menu</i>{% trans "Categories" %}
                    <a href="#c" data-toggle="collapse"><i class="material-icons"
                    style="font-size: 20px; color: #6699FF; position: relative; top: 3px; left: 5px">expand_more</i></a>
</div>
<div class="list-group collapse" style="position: absolute; z-index: 1000; width: inherit" id="c">
    {% for category in categories %}
        {% if not category.parent %}

            <span class="list-group-item list-group-item-action border-0">
                         <a href="{% url 'category_detail' category.id %}" class="list-group-item-action"><i class="material-icons"
                                                                       style="font-size: 20px; color: #6699FF; position: relative; top: 5px; left: 5px">keyboard_arrow_right</i>  {{ category.name }} </a>
                {% if category.sub_category.count > 0 %}
                    <a href="#{{ category.id }}" data-toggle="collapse"><i class="material-icons"
                                                                         style="font-size: 20px; color: #6699FF; position: relative; top: 3px; left: 5px">expand_more</i></a>

                    <span class="list-group-item list-group-item-action border-0 collapse" id="{{ category.id }}">
                    {% for i in category.sub_category.all %}
                         <p><a href="{% url 'category_detail' i.id %}" class="list-group-item-action"><i class="material-icons"
                                                                       style="font-size: 20px; color: #6699FF; position: relative; top: 5px; left: 5px">keyboard_arrow_right</i>  {{ i.name }} </a></p>
                    {% endfor %}
                    </span>
                {% endif %}
                     </span>
        {% endif %}
    {% endfor %}
</div>