{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <!-- Text container for questions -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-4 bg-light text-dark">
                {% include 'collapse_category_dropdown.html' %}
            </div>

            <div class="col-8 bg-light text-dark">
                <div class="brand" style="font-size: 25px">
                    <i class="material-icons card-body"
                    style="font-size: 30px; color: #FE3C01; position: relative; top: 5px; left: 5px">label_important</i> Often asking questions on pictures web store
                </div>
            </div>
        </div>
    </div>
    <div class="conatiner mt-5">

        <!-- Template for each questions -->
        <div class="mt-5">
            <h5 class="text-left" style="color: #FE3C01;"><strong>What kinds of pictures do you have?</strong></h5>
            <p class="text-justify mt-3">On the site there are paintings from both the recognized masters and reproductions of the famous paintings.</p>
        </div>
        <div class="mt-5">
            <h5 class="text-left " style="color: #FE3C01;"><strong>What are the sizes of pictures?</strong></h5>
            <p class="text-justify mt-3">Paintings of artists already have the standard size specified in the description. <br />
                Reproductions are of several sizes. If you did not find the size you need, you can order it from us. Please contact us following this link.
            </p>
        </div>
        <div class="mt-5">
            <h5 class="text-left" style="color: #FE3C01;"><strong>Do I need to prepay?</strong></h5>
            <p class="text-justify mt-3">NO! You pay only after you have received and inspected the picture.
            </p>
        </div>
        <div class="mt-5">
            <h5 class="text-left" style="color: #FE3C01;"><strong>Can I order a frame for my painting?</strong></h5>
            <p class="text-justify mt-3">Yes, of course, you can buy a painting with or without a frame (See the picture frames).
                        All the pictures by default are made on the stretcher with a gallery stretch, which, in fact, looks very nice and is suitable for any interior.
            </p>
        </div>
        <div class="mt-5">
            <h5 class="text-left" style="color: #FE3C01;"><strong>Can I take the painting back?</strong></h5>
            <p class="text-justify mt-3">Yes, of course, you can return the picture according to all the current laws of the country on the protection of consumers' rights.
            </p>
        </div>

    </div>

{% endblock %}
