{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="form-group">
  <form class="form-inline my-2 my-lg-0 ml-3" action="{% url 'search' %}" method="get">
      <div style="width:0; margin:0 auto;">
          <select class="form-control form-control sm-50 h-103"  name="category_id">
                  <option value="">All Categories</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name_en }}</option>
                {% endfor %}
          </select>
      </div>
      <div>
          <div style="width: 550px; margin:20px;">
            <input class="form-control mr-sm-10 h-75"  id="searchbox" name="q" type="text" placeholder="Search">
            <button type="submit" class="btn btn-outline-success h-75 p-1 m-1">Search</button>
          </div>
      </div >
  </form>
</div>

{% if items %}
<div class="card-columns">

         {% for i in items %}

        <div class="card" style="max-width: 300px">
            <a href="{% url 'item-detail' i.id %}" class="text-dark" style="text-decoration: none">
                <img class="card-img-top" src="{{ i.photos.first.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title ">{{ i.title_en }}</h5>
                </div>
            </a>
            <div class="card-footer d-flex justify-content-between">
                <span><a href="{% url 'add_to_wishlist' i.id %}"><i class="material-icons"
                                                                    style="font-size: 25px; color: #FE3C01;">start</i></a></span>
                <span class="font-weight-bold text-danger">€ {{ i.price }}</span>
                <span><a href="{% url 'add_to_cart' i.id %}"><i class="material-icons"
                                                                style="font-size: 25px; color: #FE3C01;">add_shopping_cart</i></a></span>
            </div>
        </div>
    {% endfor %}
  </table>
</div>
</div>
{% else %}

<h4><center>No results</center></h4>

{% endif %}
{% endblock %}
