{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-4 bg-light text-dark">
                {% include 'collapse_category_dropdown.html' %}
            </div>

            <div class="col-8 bg-light text-dark">
                <div class="brand" style="font-size: 25px">
                    <i class="material-icons card-body"
                    style="font-size: 30px; color: #FE3C01; position: relative; top: 5px; left: 5px">label_important</i> Site map
                </div>
            </div>
        </div>
    </div>

<!-- Start site map -->
    <div class="container mt-5">
        <div class="row">
    {% for category in categories %}
        {% if not category.parent %}
         <ul class=" ml-2 mr-2">
            <li"><a href="{% url 'category_detail' category.id %}" class="text-dark"><h4>{{ category.name_en }}</h4></a></li>
            {% if category.sub_category.count > 0 %}
                {% for i in category.sub_category.all %}
                <ul class="list-group">
                    <li><a href="{% url 'category_detail' category.id %}" class="text-dark"><p>{{ i.name_en }}</p></a></li>
                </ul>
                {% endfor %}
            {% endif %}
         </ul>
        {% endif %}
    {% endfor %}
         </div>
    </div>


<!-- END site map -->
{% endblock %}
