{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-4">
                <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3" style="height: 60px;">
                <div class="dropdown">
                    <div class="btn-group">
                         <div class="btn"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h4><i class="material-icons" style="font-size: 20px; position: relative; top: 2px; left: 5px">reorder</i>
                            Categories</h4>
                        </div>

                    <div class="dropdown-menu">
                        {% for category in categories %}
                         <a class="dropdown-item" href="#">
                             <i class="material-icons" style="font-size: 20px; color: #FE3C01; position: relative; top: 5px; left: 5px">keyboard_arrow_right</i>  {{ category.name_en }}</a>
                        {% endfor %}
                    </div>
                    </div>
                </div>

                </nav>
            </div>

            <div class="col-8">
                <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3" style="height: 60px;">
                    <h4> Payment and picture's delivery</h4>
                </nav>
            </div>
        </div>
    </div>
<!-- END HOME CONTENT -->


<!-- Start site map -->
    <div class="container mt-5">
    {% for category in categories %}
        {% if not category.parent %}
        <ul>
            <li style=""><a href="#"<h2>{{ category.name_en }}</h2></a></li>
            {% if category.sub_category.count > 0 %}
                {% for i in category.sub_category.all %}
                <ul>
                    <li><a href="#"><p>{{ i.name_en }}</p></a></li>
                </ul>
                {% endfor %}
            {% endif %}
        </ul>
        {% endif %}
    {% endfor %}
    </div>
<!-- END site map -->
{% endblock %}
